{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">***********************************</h1>
      <h1 class="jumbotron-heading">********** BIENVENIDO **********</h1>
      <h1 class="jumbotron-heading">***********************************</h1>
      <h2 class="jumbotron-heading">PROYECTO GRUPO 7</h2>
      <img class="logo" src="{% static 'LOGO.png' %}">
      <img class="logo" src="{% static 'usac.png' %}">
      <table>
        <tr>
          <td>Nombre: Andre Joaquin Ortega De Paz - Carnet: 201900597</td>
        </tr>
        <tr>
          <td>Nombre: Erick Enrique González Chávez - Carnet: 201900621</td>
        </tr>
        <tr>
          <td>Nombre: Julio Alfredo Fernandes Rodrguez - Carnet: 201902416</td>
        </tr>
        <tr>
          <td>Nombre: Albertt Wosveli Itzep Raymundi - Carnet: 201908658</td>
        </tr>
      </table>
      <p>
        <a href="Empleados" class="btn btn-dark my-2">Ir a Empleados</a>
        <a href="Discos" class="btn btn-secondary my-2">Ir a Discos</a>
        <a href="Pais" class="btn btn-dark my-2">Ir a Paises</a>
      </p>
    </div>
  </section>
  {% endblock content %}